@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
    color: white;
}


/* Additional styles to ensure the background covers the entire viewport */
html,
body {
    height: 100%;
    overflow-x: hidden;
}

#root {
    min-height: 100%;
}


.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}